{% extends "base.html" %}
{% load static %}

{% block title %}Stats Dashboard{% endblock %}

{% block content %}
    <header>
        <h1>Dashboard</h1>
        <!-- Tab Navigation -->
        <div>
            <button onclick="window.location.href='{% url 'nutri_dash' %}'">Nutrition</button>
            <button onclick="window.location.href='{% url 'fit_dash' %}'">Fitness</button>
            <button onclick="window.location.href='{% url 'sleep_dash' %}'">Sleep</button>
        </div>
    </header>
{% endblock %}