{% load static %}
{% load tz %}
{% include 'base.html' %}


<head>
    <title>User Logs</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        table {
            margin-bottom: 50px;
        }
    </style>
</head>
{% block content %}
<div style="padding: 0 20px 20px 20px;">
    <h1>Nutrition Log</h1>
    <table id="nutrition" class="display">
        <thead>
            <tr>
                <th style="display:none;">ID</th>
                <th>Food</th>
                <th>Time</th>
                <th>Grams</th>
                <th>Source</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in nutrition_logs %}
            <tr>
                <td style="display:none;">{{ entry.id }}</td>
                <td>{{ entry.food.food_item }}</td>
                <td>{{ entry.time_of_consumption|timezone:"America/New_York" }}</td>
                <td>{{ entry.num_grams_consumed }}</td>
                <td>{{ entry.source }}</td>
                <td>{{ entry.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Fitness Log</h1>
    <table id="fitness" class="display">
        <thead>
            <tr>
                <th style="display:none;">ID</th>
                <th>Start</th>
                <th>End</th>
                <th>Activity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in fitness_logs %}
            <tr>
                <td style="display:none;">{{ entry.id }}</td>
                <td>{{ entry.start_time }}</td>
                <td>{{ entry.end_time|timezone:"America/New_York" }}</td>
                <td>{{ entry.activity }}</td>
                <td>{{ entry.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Sleep Log</h1>
    <table id="sleep" class="display">
        <thead>
            <tr>
                <th style="display:none;">ID</th>
                <th>Start</th>
                <th>End</th>
                <th>Quality</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in sleep_logs %}
            <tr>
                <td style="display:none;">{{ entry.id }}</td>
                <td>{{ entry.start_time|timezone:"America/New_York" }}</td>
                <td>{{ entry.end_time|timezone:"America/New_York" }}</td>
                <td>{{ entry.sleep_quality }}</td>
                <td>{{ entry.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="editModal" style="display:none;">
        <input type="hidden" name="id">
        <label for="description">Description:</label>
        <input type="text" name="description">
        <button id="saveChanges">Save</button>
    </div>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function () {
        let nutritionTable = $('#nutrition').DataTable({
            columnDefs: [
                { targets: 0, visible: false }  // Hide ID column, but keep it in data
            ]
        });
        let fitnessTable = $('#fitness').DataTable({
            columnDefs: [
                { targets: 0, visible: false }  // Hide ID column, but keep it in data
            ]
        });
        let sleepTable = $('#sleep').DataTable({
            columnDefs: [
                { targets: 0, visible: false }  // Hide ID column, but keep it in data
            ]
        });
    });
</script>
    
{% endblock %}